body{
    font-family: Cursive;
    background-color: #38f2f5;
}
.dropbtn {
    background-color: #e58e21;
    width: 180px;
    color: white;
    padding: 16px;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    font-family: Cursive;   
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-content {
    display: none;
    background-color: #40f5cee8;
    width: 500px;
    margin: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    z-index: 1;
}

.dropdown-content a {
    /* color: black; */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
    background: linear-gradient(to right, #9f21f3,
    #ff6b08b5, #cf23cf, #ee8844);
    -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
    
}

.dropdown-content a:hover {
    background-color: #ddd;
    border: 1px solid rgba(0, 0, 0, 0.347);
}

/* .dropdown:hover .dropdown-content {
    display: block;
} */

.dropdown:hover .dropbtn {
    background-color: #e58d21d9;
    
}

h1{
    padding: 10px;
    border-radius: 50px;
    background: linear-gradient(to right, #f32170,
    #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
    
}

h3{
    background: linear-gradient(to right, #b0e719eb,
    #eb3c6ba7, #9f17edc7, #bb48ede1);
    -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}